In [108]:
import pandas as pd
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [109]:
insurance_data = pd.read_csv('insurance.csv')

In [110]:
insurance_data.dtypes

age         float64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [111]:
insurance_data.head()

    age     sex     bmi  children smoker     region      charges
0  19.0  female  27.900         0    yes  southwest  16884.92400
1  18.0    male  33.770         1     no  southeast   1725.55230
2  28.0    male  33.000         3     no  southeast   4449.46200
3  33.0    male  22.705         0     no  northwest  21984.47061
4  32.0    male  28.880         0     no  northwest   3866.85520

In [112]:
insurance_data.describe()

               age          bmi     children       charges
count  1328.000000  1338.000000  1338.000000   1338.000000
mean     39.237199    30.663397     1.094918  13270.422265
std      14.065845     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [113]:
insurance_data.isna().sum() #sum of all of the values missing.

age         10
sex          5
bmi          0
children     0
smoker       0
region       0
charges      0
dtype: int64

In [114]:
sex_data = insurance_data['sex'].mode()[0]
insurance_data['sex'] = insurance_data['sex'].fillna(sex_data)

In [115]:
age = insurance_data['age'].mean()
insurance_data['age'] = insurance_data['age'].fillna(age)

In [116]:
insurance_data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [117]:
insurance_data.dtypes

age         float64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [118]:
insurance_data['sex'].unique()

array(['female', 'male'], dtype=object)

In [119]:
le = LabelEncoder()

insurance_data['sex_encoded'] = le.fit_transform(insurance_data['sex'])
insurance_data.head()

    age     sex     bmi  children smoker     region      charges  sex_encoded
0  19.0  female  27.900         0    yes  southwest  16884.92400            0
1  18.0    male  33.770         1     no  southeast   1725.55230            1
2  28.0    male  33.000         3     no  southeast   4449.46200            1
3  33.0    male  22.705         0     no  northwest  21984.47061            1
4  32.0    male  28.880         0     no  northwest   3866.85520            1

In [120]:
insurance_data = insurance_data.drop('sex', axis = 1)

In [121]:
insurance_data.head()

    age     bmi  children smoker     region      charges  sex_encoded
0  19.0  27.900         0    yes  southwest  16884.92400            0
1  18.0  33.770         1     no  southeast   1725.55230            1
2  28.0  33.000         3     no  southeast   4449.46200            1
3  33.0  22.705         0     no  northwest  21984.47061            1
4  32.0  28.880         0     no  northwest   3866.85520            1

In [122]:
le2 = LabelEncoder()

insurance_data['smoker_encoded'] = le2.fit_transform(insurance_data['smoker'])
insurance_data.head()

,age,bmi,children,smoker,region,charges,sex_encoded,smoker_encoded
0,19.0,27.900,0,yes,southwest,16884.92400,0,1
1,18.0,33.770,1,no,southeast,1725.55230,1,0
2,28.0,33.000,3,no,southeast,4449.46200,1,0
3,33.0,22.705,0,no,northwest,21984.47061,1,0
4,32.0,28.880,0,no,northwest,3866.85520,1,0

In [123]:
insurance_data = insurance_data.drop('smoker', axis = 1)

In [124]:
insurance_data.head()

    age     bmi  children     region      charges  sex_encoded  smoker_encoded
0  19.0  27.900         0  southwest  16884.92400            0               1
1  18.0  33.770         1  southeast   1725.55230            1               0
2  28.0  33.000         3  southeast   4449.46200            1               0
3  33.0  22.705         0  northwest  21984.47061            1               0
4  32.0  28.880         0  northwest   3866.85520            1               0