In [3]:
import pandas as pd
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt

In [5]:
insurance_data = pd.read_csv('insurance.csv')

       age     sex     bmi  children smoker     region      charges
0     19.0  female  27.900         0    yes  southwest  16884.92400
1     18.0    male  33.770         1     no  southeast   1725.55230
2     28.0    male  33.000         3     no  southeast   4449.46200
3     33.0    male  22.705         0     no  northwest  21984.47061
4     32.0    male  28.880         0     no  northwest   3866.85520
...    ...     ...     ...       ...    ...        ...          ...
1333  50.0    male  30.970         3     no  northwest  10600.54830
1334  18.0  female  31.920         0     no  northeast   2205.98080
1335  18.0  female  36.850         0     no  southeast   1629.83350
1336  21.0  female  25.800         0     no  southwest   2007.94500
1337  61.0  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [6]:
insurance_data.dtypes

age         float64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object